@use '../utils/variables' as *;

.stars {
  display: flex;
  margin-left: $stars-margin;
  margin-top: $stars-margin;
  width: $stars-width;
  height: $stars-height;
  border-radius: 0.5px;
  justify-content: space-between;

  &__star {
    height: $stars-size;
    width: $stars-size;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    color: $light-color;
  }

  &--1 &__star:nth-child(-n + 1),
  &--2 &__star:nth-child(-n + 2),
  &--3 &__star:nth-child(-n + 3),
  &--4 &__star:nth-child(-n + 4),
  &--5 &__star:nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
  }
}
