$card-width: 200px;
$light-color: #f3f3f3;
$white-color: #fff;
$card-borderradius: 5px;
$image-width: 160px;
$image-margin: 32px 3px 40px;
$image-height: 134px;
$product-margin: 0 16px 4px;
$dark-blue-color: #060b35;
$code-margin: 0 84px 16px 16px;
$code-width: 98px;
$code-height: 14px;
$grey-color: #616070;
$rate-margin: 0 16px 24px;
$rate-width: 166px;
$rate-height: 16px;
$starreview-margin: 0 16px 24px;
$starreview-width: 166px;
$starreview-height: 16px;
$stars-margin: 2px;
$stars-size: 16px;
$stars-width: 96px;
$stars-height: 16px;
$reviews-width: 53px;
$reviews-height: 16px;
$price-margin: 0 16px;
$price-width: 166px;
$price-height: 18px;
$price-pricemargin: 0 0 16px;
$price-pricewidth: 31px;
$price-priceheight: 18px;
$value-margin: 86px;
$value-width: 50px;
$value-height: 18px;
$bottom-margin: 16px;
$bottom-width: 166px;
$bottom-height: 40px;
$bottom-color: #00acdc;
